#txtusuario{
width:120%;
margin-left:-80px;
}
#txtpassword{
width:120%;
margin-left:-80px;
}
#Logintable{
margin-top:10%;
margin-left:40%;
border-style:double;
width:25%;
}
td{
font-size:20px;
font-weight:bold;
padding-left:40px;
}
#btnlogin{
width:50%;
padding-left:10px;
margin-left:20px;
margin-bottom:5px;
height:41px;
position:relative;
}
#title-login{
color:#FE2E64;
font-size:30px;
padding-bottom:10px;
position:relative;
left:10px;
top:5px;
}
#imglogin{
width:100px;
position:relative;
right:15px;
height:100px;
}
#tdcheckbox{
font-weight:normal;
font-size:15px;
padding-left:40px;
}
body{

}
#btnregister{
width:100%;
padding-left:10px;
margin-left:-60px;
margin-bottom:7px;
height:42px
}